<accordion>
  <accordion-group is-open="toggles.useCase">
    <accordion-heading>
      Use Case
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': toggles.useCase, 'glyphicon-chevron-right': !toggles.useCase}"></i>
    </accordion-heading>
    <label for="algo-inst">
      <input type="radio" name="algo" value="inst" id="algo-inst" ng-model="cfg.algo"/>
      Basic Build
    </label> <br/>
    <label for="algo-pano">
      <input type="radio" name="algo" value="pano" id="algo-pano" ng-model="cfg.algo"/>
      Panoramic Build
    </label> <br/>
    <label for="algo-sched">
      <input type="radio" name="algo" value="sched" id="algo-sched" ng-model="cfg.algo"/>
      Scheduled Test
    </label> <br/>
    <label for="algo-review">
      <input type="radio" name="algo" value="review" id="algo-review" ng-model="cfg.algo"/>
      Code Review Test
    </label> <br/>

  </accordion-group>

  <accordion-group is-open="toggles.buildType" ng-hide="cfg.algo == 'pano'">
    <accordion-heading>
      Build Type
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': toggles.buildType, 'glyphicon-chevron-right': !toggles.buildType}"></i>
    </accordion-heading>

    <label for="type-drupal-clean">
      <input type="radio" name="type" value="drupal-clean" id="type-drupal-clean" ng-model="cfg.buildkit.type"/>
      drupal-clean
    </label><br/>

    <label for="type-drupal-demo">
      <input type="radio" name="type" value="drupal-demo" id="type-drupal-demo" ng-model="cfg.buildkit.type"/>
      drupal-demo
    </label><br/>

    <!--
    <label for="type-drupal-bogre">
      <input type="radio" name="type" value="drupal-bogre" id="type-drupal-bogre" ng-model="cfg.buildkit.type"/>
      drupal-bogre (<span class="error">TODO</span>)
    </label><br/>

    <div class="options" ng-show="cfg.buildkit.type == 'drupal-bogre'">
      <label for="bogre-url-drupal">
        Git URL:
        <input id="bogre-url-drupal" ng-model="cfg.bogre.url"/>
      </label><br/>
      <label for="bogre-subdir-drupal">
        CMS Subdir:
        <input id="bogre-subdir-drupal" ng-model="cfg.bogre.subdir"/>
      </label><br/>
    </div>
    -->

    <label for="type-wp-demo">
      <input type="radio" name="type" value="wp-demo" id="type-wp-demo" ng-model="cfg.buildkit.type"/>
      wp-demo
    </label><br/>

    <!--
    <label for="type-wp-bogre">
      <input type="radio" name="type" value="wp-bogre" id="type-wp-bogre" ng-model="cfg.buildkit.type"/>
      wp-bogre (<span class="error">TODO</span>)
    </label><br/>

    <div class="options" ng-show="cfg.buildkit.type == 'wp-bogre'">
      <label for="bogre-url-wp">
        Git URL:
        <input id="bogre-url-wp" ng-model="cfg.bogre.url"/>
      </label><br/>
      <label for="bogre-subdir-wp">
        CMS Subdir:
        <input id="bogre-subdir-wp" ng-model="cfg.bogre.subdir"/>
      </label><br/>
    </div>
    -->

    <label for="type-custom">
      <input type="radio" name="type" value="CUSTOM" id="type-custom" ng-model="cfg.buildkit.type"/>
      <em>(Custom)</em> (<span class="error">TODO</span>)
    </label><br/>

    <div class="options" ng-show="cfg.buildkit.type == 'CUSTOM'">
      <div>
        <label>
          Build Type:
          <input type="text" ng-model="cfg.buildkit.customType"/>
        </label>
      </div>
      <div>
        <label>
          CMS:
          <select ng-model="cfg.cms">
            <option value="drupal">Drupal</option>
            <option value="wp">WordPress</option>
          </select>
        </label>
      </div>
      <div>
        <label>
          Download Via:
          <select ng-model="cfg.downloader">
            <option value="bash">bash</option>
            <option value="bogre">bogre</option>
            <option value="dmake">drush make</option>
          </select>
        </label>
      </div>
      <div ng-show="cfg.downloader == 'bogre'">
        <label for="bogre-url">
          Git URL:
          <input id="bogre-url" ng-model="cfg.bogre.url"/>
        </label><br/>
        <label for="bogre-subdir">
          CMS Subdir:
          <input id="bogre-subdir" ng-model="cfg.bogre.subdir"/>
        </label><br/>
      </div>
    </div>

  </accordion-group>

  <accordion-group is-open="toggles.buildOptions">
    <accordion-heading>
      Build Options
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': toggles.buildOptions, 'glyphicon-chevron-right': !toggles.buildOptions}"></i>
    </accordion-heading>

    <div ng-hide="cfg.algo == 'pano'">
      <label for="buildkit-name">
        Name:<br/>
        <input type="text" id="buildkit-name" ng-model="cfg.buildkit.name"/>
      </label>
    </div>

    <div ng-hide="cfg.algo == 'pano'">
      <label for="buildkit-url">
        URL:<br/>
        <input type="text" id="buildkit-url" ng-model="cfg.buildkit.url" ng-disabled="cfg.algo == 'pano'"/>
      </label>
    </div>

    <div ng-hide="cfg.algo == 'pano' || isBogre()">
      <label for="buildkit-civiVer">
        Civi Version:<br/>
        <select id="buildkit-civiVer" ng-model="cfg.buildkit.civiVer">
          <option value="4.3">4.3</option>
          <option value="4.4">4.4</option>
          <option value="master">master</option>
        </select>
      </label>
    </div>

    <div>
      <label for="buildkit-admin-pass">
        Admin Pass:<br/>
        <input type="text" id="buildkit-admin-pass" ng-model="cfg.buildkit.adminPass"/>
      </label>
    </div>

    <div>
      <label for="buildkit-dir">
        Buildkit Dir:<br/>
        <input type="text" id="buildkit-dir" ng-model="cfg.buildkit.dir"/>
      </label>
    </div>

  </accordion-group>

  <accordion-group is-open="toggles.testSuite" ng-show="cfg.algo == 'sched' || cfg.algo=='review'">
    <accordion-heading>
      Test Suite
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': toggles.testSuite, 'glyphicon-chevron-right': !toggles.testSuite}"></i>
    </accordion-heading>

    <label for="test-civi-phpunit">
      <input type="checkbox" id="test-civi-phpunit" ng-model="cfg.civiPhpunit.enable"/>
      CiviCRM PHPUnit
    </label><br/>

    <div class="options" ng-show="cfg.civiPhpunit.enable">
      Execute test case:<br/>
      <input ng-model="cfg.civiPhpunit.test"/>
    </div>

    <label for="test-civi-upgradetest">
      <input type="checkbox" id="test-civi-upgradetest" ng-model="cfg.civiUpgradeTest.enable"/>
      CiviCRM UpgradeTest
    </label><br/>

    <div class="options" ng-show="cfg.civiUpgradeTest.enable">
      Perform upgrades with example DBs:<br/>
      <input ng-model="cfg.civiUpgradeTest.versions"/>
    </div>

    <label for="test-simpletest">
      <input type="checkbox" id="test-simpletest" ng-model="cfg.simpleTest.enable"/>
      Drupal SimpleTest
    </label><br/>

    <div class="options" ng-show="cfg.simpleTest.enable">
      Execute test case:<br/>
      <input ng-model="cfg.simpleTest.test"/>
    </div>
  </accordion-group>

  <accordion-group is-open="toggles.codeReview" ng-show="cfg.algo=='review'">
    <accordion-heading>
      Code Review
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': toggles.codeReview, 'glyphicon-chevron-right': !toggles.codeReview}"></i>
    </accordion-heading>

    <label for="codereview-type-github">
      <input type="radio" name="codereview-type" value="github" id="codereview-type-github"
             ng-model="cfg.codeReview.type"/>
      GitHub
    </label><br/>

    <label for="codereview-type-gerrit">
      <input type="radio" name="codereview-type" value="gerrit" id="codereview-type-gerrit"
             ng-model="cfg.codeReview.type"/>
      Gerrit
    </label><br/>

    <!--
    <label for="codereview-repo-path">
      Path: <input id="codereview-repo-path" ng-model="cfg.codeReview.path"/>
    </label>
    -->
  </accordion-group>
</accordion>
