<div class="alert">
  <p>
    In Buildkit, a "build type" defines the download and installation process
    for a complete, working, testable system.
    For example, buildkit includes a few pre-defined build types:
  </p>

  <ul>
    <li>
      <code>drupal-clean</code>:
      A basic, minimalist installation of Drupal 7 and CiviCRM
    </li>
    <li>
      <code>drupal-demo</code>:
      The standard Drupal-CiviCRM demo used for <code>drupal.demo.civicrm.org</code>
      which includes a special home page, theme configuration, the CiviVolunteer extension, etc.
    </li>
    <li>
      <code>wp-demo</code>:
      The standard WordPress-CiviCRM demo used for <code>wordpress.demo.civicrm.org</code>
      which includes some example WP content, the CiviVolunteer extension, etc.
    </li>
  </ul>

  <p>
    A build-type is basically a pair of two shell scripts (e.g. <code>app/config/drupal-clean/download.sh</code>
    and <code>app/config/drupal-clean/install.sh</code>).
  </p>

  ...
</div>

<div class="alert alert-info">
  <h4>download.sh</h4>

  The download instructions can be written many different ways, but these are a few common approaches:

  <ul>
    <li>
      <b>Assemble build via <code>bash</code></b>:
      Download our preferred libraries and modules using <code>bash</code>
      commands like <code>git clone</code>, <code>drush dl</code>, <code>wp plugin install</code>,
      or even <code>wget</code>.
    </li>
    <li>
      <b>Assemble build via <code>drush make</code></b>:
      Download our preferred libraries and modules using <code>drush make</code>'s
      <a target="_blank" href="http://drush.ws/docs/make.txt">special purpose language</a>.
    </li>
    <li>
      <b>Big Old Git Repository of Everything (BOGRE)</b>:
      Manually copy all code (CMS code, CiviCRM code, modules, themes, etc) into a single
      git repository (eg <code>{{cfg.bogre.url}}</code>). Buildkit
      downloads that repository (and nothing else).
    </li>
  </ul>
</div>

<div class="alert alert-warning">
  BOGRE may be useful for production sites where you only import production-ready
  code, but if you wish to actively participate in the development community, then
  BOGRE can be tiresome.
</div>

<div class="alert alert-info">

  <h4>install.sh</h4>

  ...
</div>

