<p class="alert alert-danger" ng-show="isCustom() && cfg.cms != 'drupal' && cfg.downloader == 'dmake'">
  <code>drush make</code> only works with Drupal.
</p>

<p class="alert alert-danger" ng-show="cfg.civiUpgradeTest.enable && !isDrupal()">
  CiviCRM UpgradeTest only works with Drupal.
</p>

<p class="alert alert-danger" ng-show="cfg.simpleTest.enable && !isDrupal()">
  Drupal SimpleTest only works with Drupal.
</p>

<div ng-show="cfg.algo == 'inst'" ng-include="'views/summary-inst.html'"></div>
<div ng-show="cfg.algo == 'pano'" ng-include="'views/summary-pano.html'"></div>
<div ng-show="cfg.algo == 'sched'" ng-include="'views/summary-sched.html'"></div>
<div ng-show="cfg.algo == 'review'" ng-include="'views/summary-review.html'"></div>

<div class="alert alert-info" ng-show="cfg.algo != 'pano' && !isCustom() && !isBogre()">
  The selected build type, <code>{{cfg.buildkit.type}}</code>, downloads a CMS and
  several add-ons. The list of modules and libraries was chosen by the fine folks at
  <a href="http://civicrm.org.">civicrm.org</a>.
  For more options, see the configuration menu.
</div>

<div class="alert alert-info" ng-show="cfg.algo != 'pano' && isCustom()">
  The selected build type, <code>{{buildkitType()}}</code>, is a custom type.
  We will spend some time defining this custom type.
</div>
