<p class="alert alert-danger" ng-show="isCustom() && cfg.cms != 'drupal' && cfg.downloader == 'dmake'">
  <code>drush make</code> only works with Drupal.
</p>

<p class="alert alert-danger" ng-show="cfg.civiUpgradeTest.enable && !isDrupal()">
  CiviCRM UpgradeTest only works with Drupal.
</p>

<p class="alert alert-danger" ng-show="cfg.simpleTest.enable && !isDrupal()">
  Drupal SimpleTest only works with Drupal.
</p>

<p ng-show="cfg.algo == 'inst'">
  <em>Basic Build</em> performs a download and install; the system is ready for
  you to hack/code/test.
</p>

<p ng-show="cfg.algo == 'sched'">
  <em>Scheduled Test</em> performs a clean installation and runs tests. It's
  suitable for use as a scheduled job in Jenkins.
</p>

<p ng-show="cfg.algo == 'review'">
  <em>Code Review Test</em> performs a clean installation using
  a proposed patch. It's suitable for integrating with Github or Gerrit code-review.
</p>

<div class="alert alert-info" ng-show="!isCustom() && !isBogre()">
  In build type <code>{{cfg.buildkit.type}}</code>, the modules and
  libraries have been pre-selected by the fine folks at <a href="http://civicrm.org.">civicrm.org</a>.
</div>

<div class="alert alert-info" ng-show="isCustom() && cfg.downloader == 'bash'">
  To pick modules and libraries for <code>{{buildkitType()}}</code>, we need to write a bash script
  with commands like <code>git clone</code>, <code>drush dl</code>,
  or <code>wp plugin install</code>.
</div>

<div class="alert alert-info" ng-show="isCustom() && cfg.downloader == 'dmake'">
  To pick modules and libraries for <code>{{buildkitType()}}</code>, we need to write a
  <a href="http://drush.ws/docs/make.txt"><code>drush make</code> file</a>.
</div>

<div class="alert alert-info" ng-show="isBogre()">
  <u>Big Old Git Repository of Everything</u>:
  Some developers prefer to manually copy all code (CMS code, CiviCRM code, modules, themes,
  etc) into a single git repository (eg <code>{{cfg.bogre.url}}</code>). In BOGRE mode,
  buildkit will download that repository.
</div>
