<div class="prettyprint-options-box">
  <div class="pull-right">
    <label for="sudo">
      <input type="checkbox" id="sudo" ng-model="cfg.sudo"/>
      <span tooltip="If creating the install dir requires escalated privileges, use sudo.">
        Use sudo
      </span>
    </label>

    <label for="vagrant">
      <input type="checkbox" id="vagrant" ng-model="cfg.vagrant"/>
      <span tooltip="If you already use Vagrant, then you might try the experimental Vagrantbox for buildkit.">
        Use vagrant
      </span>
    </label>
  </div>

  <div>
    <label for="buildkit-dir-insitu">
      Install to:
      <input id="buildkit-dir-insitu" ng-model="cfg.buildkit.dir" />
    </label>
  </div>
</div>

<pre class="row prettyprint lang-bash" prettyprint-code="installBuildkit()"></pre>

<h4>Discussion</h4>

<p>
  Buildkit can be installed anywhere you want to build/test Civi.
  So you might install buildkit on a local dev machine, inside
  a Vagrantbox, or on a dedicated test server.
</p>

<p ng-hide="cfg.vagrant" class="alert alert-warning">
  Please pay attention to <code>amp config</code> and <code>amp test</code>.
  They may ask you to perform some setup tasks (such as editing the
  Apache configuration and restarting Apache).
</p>
