<p>
  Buildkit can be installed on any system where you want to build/test Civi.
  So you might install buildkit on a local dev machine, inside
  a Vagrantbox, or on a dedicated test server.
</p>

<p>
  Generally, it is best to install buildkit once on a server. Buildkit
  includes caches and commands that will allow you to build multiple
  sites from a single installation. After configuring buildkit's <code>amp</code>
  tool, you will be able to create additional sites without
  directly configuring MySQL or Apache.
</p>

<div class="prettyprint-options-box">
  <div class="pull-right">
    <label for="sudo">
      <input type="checkbox" id="sudo" ng-model="cfg.sudo"/>
      <span tooltip="If creating the install dir requires escalated privileges, then use sudo.">
        Use sudo
      </span>
    </label>

    <label for="vagrant">
      <input type="checkbox" id="vagrant" ng-model="cfg.vagrant"/>
      <span tooltip="If you already use Vagrant, then you might try the experimental Vagrantbox for buildkit.">
        Use vagrant
      </span>
    </label>
  </div>

  <div>
    <label for="buildkit-dir-insitu">
      Install to:
      <input id="buildkit-dir-insitu" ng-model="cfg.buildkit.dir"/>
    </label>
  </div>
</div>

<pre class="row prettyprint lang-bash" prettyprint-code="installBuildkit()"></pre>

<p ng-hide="cfg.vagrant" class="row alert alert-info">
  Please pay attention to <code>amp config</code> and <code>amp test</code>.
  They may ask you to perform some setup tasks (such as editing the
  Apache configuration and restarting Apache). <code>amp test</code> should
  succeed before continuing.
</p>

<div ng-show='isJenkins() && !cfg.vagrant' class="row alert alert-warning">
  <code>amp config</code> is an interactive config tool, which is useful for local installs or
  experimentation. If you need to automate installation of buildkit, use <code>amp config:set</code>, e.g.

  <ul>
    <li><u>Example</u>:
      <pre class="row prettyprint lang-bash" prettyprint-code="ampExample1()"></pre>
    </li>
    <li><u>Example</u>:
      <pre class="row prettyprint lang-bash" prettyprint-code="ampExample2()"></pre>
    </li>
  </ul>
</div>