<p>
  If we were practicing monks in the monastery of Unix minimalism, we might
  setup <em>Scheduled Test</em> using traditional <a href="http://en.wikipedia.org/wiki/Cron">cron</a>.
  It's great to understand our process well enough that we can do it with cron (or anything else),
  but in practice it's more convenient to use a <em>continuous integration server</em>.
</p>

TODO
http://jenkins-ci.org/
https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins
https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin
https://wiki.jenkins-ci.org/display/JENKINS/Gerrit+Trigger
