<p>
  For download links and full instructions, see:
</p>

<center>
  <code><a target="_blank" href="http://jenkins-ci.org/">http://jenkins-ci.org/</a></code>
  <br/>
  <code><a target="_blank" href="https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins">https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins</a></code>
</center>

<p>
  Once you've installed Jenkins and opened it in a web browser, navigate to
  "<em>Manage Jenkins => Manage Plugins</em>" and install the plugins, such as:
</p>

<ul>
  <li>
    <a target="_blank" href="https://wiki.jenkins-ci.org/display/JENKINS/xUnit+Plugin">xUnit Plugin</a>
  </li>
  <li>
    <a target="_blank" href="http://wiki.jenkins-ci.org/display/JENKINS/HTML+Publisher+Plugin">HTML Publisher Plugin</a>
  </li>
  <li>
    <a target="_blank" href="https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin">
      Github Pull Request Builder
    </a>
    <span class="text-muted"
          ng-show="cfg.useCase != 'review' || cfg.codeReview.type != 'github'">(if you use GitHub)</span>
  </li>
  <li>
    <a target="_blank" href="https://wiki.jenkins-ci.org/display/JENKINS/Gerrit+Trigger">
      Gerrit Trigger Plugin
    </a>
    <span class="text-muted"
          ng-show="cfg.useCase != 'review' || cfg.codeReview.type != 'gerrit'">(if you use Gerrit)</span>
  </li>
</ul>
