<p class="row alert alert-warning">
  This page is under active development and subject to change.
</p>

<p class="row">
  You can construct a link to the tutorial and pre-set various options using query-parameters. For example:
</p>

<p class="row alert alert-info text-center">
  {{exampleUrl}}
</p>

<div class="row">
  <table class="col-md-12">
    <thead>
    <tr>
      <th>Parameter</th>
      <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>&<code>useCase</code>=</td>
      <td><code>inst</code> | <code>multiver</code> | <code>sched</code> | <code>review</code></td>
    </tr>
    <tr>
      <td>&<code>cms</code>=</td>
      <td><code>drupal</code> | <code>wp</code></td>
    </tr>
    <tr>
      <td>&<code>buildkit.dir</code>=</td>
      <td><code>/opt/buildkit</code></td>
    </tr>
    <tr>
      <td>&<code>buildkit.type</code>=</td>
      <td><code>wp-demo</code></td>
    </tr>
    <tr>
      <td>&<code>buildkit.civiVer</code>=</td>
      <td><code>4.4</code></td>
    </tr>
    <tr>
      <td>&<code>buildkit.name</code>=</td>
      <td><code>mytestbuild</code></td>
    </tr>
    <tr>
      <td>&<code>civiPhpunit.test</code>=</td>
      <td><code>api_v3_AllTests</code></td>
    </tr>
    <tr>
      <td>&<code>civiUpgradeTest.versions</code>=</td>
      <td><code>4.2.0* 4.3.0*</code></td>
    </tr>
    <tr>
      <td>&<code>codeReview.type</code>=</td>
      <td><code>github</code> | <code>gerrit</code></td>
    </tr>
    <tr>
      <td>&<code>codeReview.path</code>=</td>
      <td><code>sites/all/modules/mymodule</code></td>
    </tr>
    <tr>
      <td>&<code>tab</code>=</td>
      <td>
        <code>summary</code> | <code>getJenkins</code> | <code>getBuildkit</code> | <code>defineBuildType</code> |
        <code>buildSite</code>
      </td>
    </tr>
    </tbody>
  </table>
</div>