<div class="row">
  <div class="col-md-4 configuration">

    <fieldset>
      <legend>Use Case</legend>

      <label for="algo-inst">
        <input type="radio" name="algo" value="inst" id="algo-inst" ng-model="cfg.algo"/>
        Basic Installation
      </label> <br/>
      <label for="algo-sched">
        <input type="radio" name="algo" value="sched" id="algo-sched" ng-model="cfg.algo"/>
        Scheduled Test
      </label> <br/>
      <label for="algo-review">
        <input type="radio" name="algo" value="review" id="algo-review" ng-model="cfg.algo"/>
        Code Review Test
      </label> <br/>

    </fieldset>

    <fieldset>
      <legend>Build Strategy</legend>

      <label for="build-buildkit">
        <input type="radio" name="build" value="buildkit" id="build-buildkit" ng-model="cfg.build"/>
        civicrm-buildkit
      </label><br/>
      <div class="explain" ng-show="cfg.build == 'buildkit'">
        <a href="https://github.com/totten/civicrm-buildkit">buildkit</a> manages test,
        demo, and training sites for civicrm.org. Built on drush, wp-cli, etal.
      </div>
      <div class="options" ng-show="cfg.build == 'buildkit'">
        Build type:<br/>
        <select ng-model="cfg.buildkit.type">
          <option value="drupal-clean">drupal-clean</option>
          <option value="drupal-demo">drupal-demo</option>
          <option value="wp-demo">wp-demo</option>
          <option value="wmff">wmff</option>
        </select><br/>

        Build name:<br/>
        <input ng-model="cfg.buildkit.name" />
      </div>

      <label for="build-drush">
        <input type="radio" name="build" value="drush" id="build-drush" ng-model="cfg.build"/>
        drush
      </label><br/>
      <div class="explain" ng-show="cfg.build == 'drush'">
        <a href="http://drush.ws">drush</a> is the Swiss Army knife of Drupal CLI
      </div>

      <label for="build-wpcli">
        <input type="radio" name="build" value="wpcli" id="build-wpcli" ng-model="cfg.build"/>
        wp-cli
      </label><br/>
      <div class="explain" ng-show="cfg.build == 'wpcli'">
        <a href="http://wp-cli.org">wp-cli</a> is the Swiss Army knife of WordPress CLI
      </div>
    </fieldset>

    <fieldset ng-show="cfg.algo == 'sched' || cfg.algo=='review'">
      <legend>Test Suite</legend>
      <label for="test-civi-phpunit">
        <input type="checkbox" id="test-civi-phpunit" ng-model="cfg.civiPhpunit.enable"/>
        CiviCRM PHPUnit
      </label><br/>

      <div class="options" ng-show="cfg.civiPhpunit.enable">
        Execute test case:<br/>
        <input ng-model="cfg.civiPhpunit.test"/>
      </div>

      <label for="test-civi-upgradetest">
        <input type="checkbox" id="test-civi-upgradetest" ng-model="cfg.civiUpgradeTest.enable"/>
        CiviCRM UpgradeTest
      </label><br/>

      <div class="options" ng-show="cfg.civiUpgradeTest.enable">
        Perform upgrades with example DBs:<br/>
        <input ng-model="cfg.civiUpgradeTest.versions"/>
      </div>

      <label for="test-simpletest">
        <input type="checkbox" id="test-simpletest" ng-model="cfg.simpleTest.enable"/>
        Drupal SimpleTest
      </label><br/>

      <div class="options" ng-show="cfg.simpleTest.enable">
        Execute test case:<br/>
        <input ng-model="cfg.simpleTest.test"/>
      </div>
    </fieldset>
  </div>

  <fieldset class="col-md-8">
    <legend>About</legend>
    <p ng-show="cfg.algo == 'inst'">Use <em>Basic Installation</em> if you plan to manually work with the site.</p>
    <p ng-show="cfg.algo == 'sched'">Use <em>Scheduled Test</em> if you're configuring Jenkins to run tests on a fixed schedule.</p>
    <p ng-show="cfg.algo == 'review'">Use <em>Code Review Test</em> if you're configuring Jenkins to run tests as part of Github or Gerrit code-review.</p>
  </fieldset>

  <fieldset class="col-md-8">
    <legend>Pseudocode</legend>
    <pre class="prettyprint lang-javascript" prettyprint-code="createPseudocode()"></pre>
  </fieldset>

  <fieldset class="col-md-8">
    <legend>Example</legend>
    <pre class="prettyprint lang-bash" prettyprint-code="createExampleCode()"></pre>
  </fieldset>
</div>
