<div class="row jumbotron">
  <p>
    Working with CiviCRM in a continuous-integration environment can be tricky.
  </p>

  <p>
    You need to build a full working environment (CMS + Civi + add-ons)
    and then run a mix of tests. There's a tyranny of choice for each
    step.
  </p>

  <p>
    This simulator helps to demonstrate what the CI code might look like
    based on different design decisions.
  </p>
</div>

<div class="row">
  <div class="col-md-4 configuration">

    <fieldset>
      <legend>Use Case</legend>

      <label for="algo-inst">
        <input type="radio" name="algo" value="inst" id="algo-inst" ng-model="cfg.algo"/>
        Basic Installation
      </label> <br/>
      <label for="algo-sched">
        <input type="radio" name="algo" value="sched" id="algo-sched" ng-model="cfg.algo"/>
        Scheduled Test
      </label> <br/>
      <label for="algo-review">
        <input type="radio" name="algo" value="review" id="algo-review" ng-model="cfg.algo"/>
        Code Review Test
      </label> <br/>

    </fieldset>

    <fieldset>
      <legend>Build Tool</legend>

      <label for="build-buildkit">
        <input type="radio" name="build" value="buildkit" id="build-buildkit" ng-model="cfg.build"/>
        civicrm-buildkit
      </label><br/>

      <div class="options" ng-show="cfg.build == 'buildkit'">
        Build type:<br/>
        <select ng-model="cfg.buildkit.type">
          <option value="drupal-clean">drupal-clean</option>
          <option value="drupal-demo">drupal-demo</option>
          <option value="wp-demo">wp-demo</option>
          <option value="wmff">wmff</option>
        </select><br/>

        Build name:<br/>
        <input ng-model="cfg.buildkit.name"/>
      </div>

      <label for="build-drush">
        <input type="radio" name="build" value="drush" id="build-drush" ng-model="cfg.build"/>
        <s class="text-muted">drush</s>
      </label><br/>

      <label for="build-wp-cli">
        <input type="radio" name="build" value="wp-cli" id="build-wp-cli" ng-model="cfg.build"/>
        <s class="text-muted">wp-cli</s>
      </label><br/>
    </fieldset>

    <fieldset>
      <legend>Build Descriptor</legend>

      <label for="struct-bash">
        <input type="radio" name="struct" value="bash" id="struct-bash" ng-model="cfg.struct"/>
        bash
      </label><br/>
      <label for="struct-dmake">
        <input type="radio" name="struct" value="dmake" id="struct-dmake" ng-model="cfg.struct"/>
        Drush Make
      </label><br/>
      <label for="struct-boge">
        <input type="radio" name="struct" value="boge" id="struct-boge" ng-model="cfg.struct"/>
        BOGE
      </label><br/>
    </fieldset>

    <fieldset ng-show="cfg.algo == 'sched' || cfg.algo=='review'">
      <legend>Test Suite</legend>
      <label for="test-civi-phpunit">
        <input type="checkbox" id="test-civi-phpunit" ng-model="cfg.civiPhpunit.enable"/>
        CiviCRM PHPUnit
      </label><br/>

      <div class="options" ng-show="cfg.civiPhpunit.enable">
        Execute test case:<br/>
        <input ng-model="cfg.civiPhpunit.test"/>
      </div>

      <label for="test-civi-upgradetest">
        <input type="checkbox" id="test-civi-upgradetest" ng-model="cfg.civiUpgradeTest.enable"/>
        CiviCRM UpgradeTest
      </label><br/>

      <div class="options" ng-show="cfg.civiUpgradeTest.enable">
        Perform upgrades with example DBs:<br/>
        <input ng-model="cfg.civiUpgradeTest.versions"/>
      </div>

      <label for="test-simpletest">
        <input type="checkbox" id="test-simpletest" ng-model="cfg.simpleTest.enable"/>
        Drupal SimpleTest
      </label><br/>

      <div class="options" ng-show="cfg.simpleTest.enable">
        Execute test case:<br/>
        <input ng-model="cfg.simpleTest.test"/>
      </div>
    </fieldset>

    <fieldset ng-show="cfg.algo=='review'">
      <legend>Code Review</legend>
      <label for="codereview-type-github">
        <input type="radio" name="codereview-type" value="github" id="codereview-type-github"
               ng-model="cfg.codeReview.type"/>
        GitHub
      </label><br/>

      <label for="codereview-type-gerrit">
        <input type="radio" name="codereview-type" value="gerrit" id="codereview-type-gerrit"
               ng-model="cfg.codeReview.type"/>
        Gerrit
      </label><br/>

      <!--
      <label for="codereview-repo-path">
        Path: <input id="codereview-repo-path" ng-model="cfg.codeReview.path"/>
      </label>
      -->

    </fieldset>
  </div>

  <fieldset class="col-md-8">
    <legend>Description</legend>
    <p ng-show="cfg.algo == 'inst'">
      <em>Basic Installation</em> performs a download and install; the system is ready for
      you to hack/code/test.
    </p>

    <p ng-show="cfg.algo == 'sched'">
      <em>Scheduled Test</em> performs a clean installation and runs tests. It's
      suitable for use as a scheduled job in Jenkins.
    </p>

    <p ng-show="cfg.algo == 'review'">
      <em>Code Review Test</em> performs a clean installation using
      a proposed patch. It's suitable for integrating with Github or Gerrit code-review.
    </p>

    <p class="explain" ng-show="cfg.build == 'buildkit'">
      <a href="https://github.com/totten/civicrm-buildkit">buildkit</a> manages test,
      demo, and training sites for civicrm.org. Built on drush, wp-cli, etal.
    </p>

    <div class="explain" ng-show="cfg.build == 'drush'">
      <a href="http://drush.ws">drush</a> is the Swiss Army knife of Drupal CLI
    </div>
    <div class="explain" ng-show="cfg.build == 'wp-cli'">
      <a href="http://wp-cli.org">wp-cli</a> is the Swiss Army knife of WordPress CLI
    </div>

    <p class="explain error" ng-show="cfg.build == 'drush' || cfg.build == 'wp-cli'">
      <b>PATCH-WELCOME:</b> "{{cfg.build}}" can be used within buildkit; however, when
      used by itself, it doesn't manage the config-files and DBs required for
      CiviCRM (runtime or testing). If you want to use these tools directly without
      buildkit, then you'll need to address the implementation + workflow issues
      for setting these up.
    </p>
  </fieldset>

  <fieldset class="col-md-8">
    <legend>Pseudocode</legend>
    <pre class="prettyprint lang-javascript" prettyprint-code="createPseudocode()"></pre>
  </fieldset>

  <fieldset class="col-md-8">
    <legend>Jenkins Shell Script</legend>
    <pre class="prettyprint lang-bash" prettyprint-code="createExampleCode()"></pre>
  </fieldset>

  <fieldset class="col-md-12">
    <legend>Notes</legend>
    <ul>
      <li ng-show="cfg.build == 'buildkit'">
        The build-type "{{ cfg.buildkit.type }}" is included by default.
        You can create a custom type by copying "app/config/{{ cfg.buildkit.type }}" to "app/config/my-new-type".
      </li>
      <li ng-show="cfg.build == 'drush'">
        You need to write a drush "makefile'.
      </li>
    </ul>
  </fieldset>

</div>
