<!--
<div class="row jumbotron">
  <p>
    <a href="https://github.com/civicrm/civicrm-buildkit">civicrm-buildkit</a>
    is a tool for quickly creating dev/test environments for CiviCRM.
  </p>
</div>
-->

<div class="row">
  <div class="col-md-4 configuration">
    <div ng-include="'views/config.html'"></div>
  </div>

  <div class="col-md-8">
    <tabset>
      <tab active="tabToggles.summary">
        <tab-heading>
          <i class="glyphicon glyphicon-home"></i>
          Summary
        </tab-heading>
        <div ng-include="'views/description.html'"></div>
        <div class="nextbar" ng-show="hasNext()">
          <button class="btn btn-success" ng-click="goNext()">Next</button>
        </div>
      </tab>

      <tab active="tabToggles.getJenkins" ng-show="isJenkins()">
        <tab-heading>
          <i class="glyphicon glyphicon-download"></i>
          Get Jenkins
        </tab-heading>
        <div ng-show="isJenkins()" ng-include="'views/get-jenkins.html'"></div>
        <div class="nextbar" ng-show="hasNext()">
          <button class="btn btn-success" ng-click="goNext()">Next</button>
        </div>
      </tab>

      <tab active="tabToggles.getBuildkit">
        <tab-heading>
          <i class="glyphicon glyphicon-download"></i>
          Get Buildkit
        </tab-heading>
        <div ng-include="'views/get-buildkit.html'"></div>
        <div class="nextbar">
          <div class="nextbar" ng-show="hasNext()">
            <button class="btn btn-success" ng-click="goNext()">Next</button>
          </div>
        </div>
      </tab>

      <tab active="tabToggles.defineBuildType" ng-show="cfg.algo != 'pano' && isCustom()">
        <tab-heading>
          <i class="glyphicon glyphicon-wrench"></i>
          Define Build Type
        </tab-heading>
        <div ng-show="cfg.algo != 'pano' && isCustom()" ng-include="'views/define-build-type.html'"></div>
        <div class="nextbar" ng-show="hasNext()">
          <button class="btn btn-success" ng-click="goNext()">Next</button>
        </div>
      </tab>

      <tab active="tabToggles.buildSite">
        <tab-heading>
          <i class="glyphicon glyphicon-cog"></i>
          <span ng-show="cfg.algo == 'inst'">Build a Site</span>
          <span ng-show="cfg.algo == 'pano'">Build Sites</span>
          <span ng-show="isJenkins()">Configure Jenkins</span>
        </tab-heading>
        <div ng-include="'views/build-site.html'"></div>
        <div class="nextbar" ng-show="hasNext()">
          <button class="btn btn-success" ng-click="goNext()">Next</button>
        </div>
      </tab>
    </tabset>
  </div>
</div>
