<ul>
  <li>
    <u>Configure Jenkins:</u>
    Should prep Apache to work with each site
    (civi-jenkins-${EXECUTOR_NUMBER}.localhost). Alternatively,
    call "apache2ctl graceful" after "civibuild install".
  </li>
  <li>
    <u>Configure Jenkins:</u>
    Instructions for creating a new job, setting a schedule, using ghprb, etc.
  </li>
  <li>
    <u>Configure Jenkins -- Code Review (gerrit):</u>
    "git fetch" statements needs a proper environment variable
  </li>
  <li>
    <u>Define Build Type:</u>
    Add instructions for creating new build types
  </li>
  <li>
    <u>System Requirements:</u>
    Add to either "Summary" or "Get Jenkins/Get Buildkit"
  </li>
  <li>
    <u>Test Suite:</u> Add "Basic PHPUnit"
  </li>
  <li>
    <u>Welcome:</u>
    Useful bits of example code... shows how things are supposed to work but
    cannot account for all the different combinations of build-tools/build-configs, so
    use it more as an example...
  </li>
  <li>
    What is buildkit? Does it work with CI/drush/puppet/chef/MAMP/Ubuntu/vagrant/docker?
  </li>
</ul>
