<ul>
  <li>
    <u>Configure Jenkins:</u>
    Should prep Apache to work with each site
    (civi-jenkins-${EXECUTOR_NUMBER}.localhost). Alternatively,
    call "apache2ctl graceful" after "civibuild install".
  </li>
  <li>
    <u>Configure Jenkins:</u> Ensure exit code indicates an error if any single test fails.
  </li>  <li>
    <u>Configure Jenkins -- Code Review (gerrit):</u>
    "git fetch" statements needs a proper environment variable
  </li>
  <li>
    <u>Define Build Type:</u>
    Add instructions for creating new build types
  </li>
  <li>
    <u>System Requirements:</u>
    Add to either "Summary" or "Get Jenkins/Get Buildkit"
  </li>
  <li>
    <u>Test Suite:</u> Add "Basic PHPUnit"
  </li>
  <li>
    <u>$scope.documentBuild()</u>:
    For useCase==review, the build is compared to an empty baseline.
    Find a better baseline (e.g. the most recent scheduled build?).
  </li>
</ul>
